.canvas {
    width: 300px;
    height: 300px;
}
.canvasSmall {
    width: 300px;
    height: 150px;
}
.canvasBig {
    width: 300px;
    height: 300px;
}

.inline{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.incolumn{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

td {
    padding-left: 5px;
}