<div class="inline">
    <div class="left-menu">
        <section class="ac-container">
            <div>
                <input class="ac-checkbox" id="ac-1" name="accordion-1" type="radio" value="1"
                    [(ngModel)]="numShowCanvas" />
                <label class="ac-label" for="ac-1">Тригонометрия</label>
                <article class="ac-list">
                    <div>
                        <label><input type="checkbox" (change)="changeSin()">Sin<Br></label>
                        <label><input type="checkbox" (change)="changeCos()">Cos<Br></label>
                        <label><input type="checkbox" (change)="changeTan()">Tan<Br></label>
                        <label><input type="checkbox" (change)="changeCtan()">Ctan<Br></label>
                    </div>
                </article>
            </div>
            <div>
                <input class="ac-checkbox" id="ac-2" name="accordion-1" type="radio" value="2"
                    [(ngModel)]="numShowCanvas" />
                <label class="ac-label" for="ac-2">Начала анализа</label>
            </div>
            <div>
                <input class="ac-checkbox" id="ac-4" name="accordion-1" type="radio" value="4"
                    [(ngModel)]="numShowCanvas" />
                <label class="ac-label" for="ac-4">Стереометрия</label>
                <article class="stereo">
                    <ul class="stereo__list">
                        <li class="stereo__el">
                            <button class="stereo__btn" (click)="chooseCube()">Куб</button>
                        </li>
                        <li class="stereo__el">
                            <button class="stereo__btn" (click)="chooseTetrahedron()">Тетраэдр</button>
                        </li>
                    </ul>
                </article>
            </div>
        </section>
    </div>
    <div [ngSwitch]="numShowCanvas">
        <app-canvas #appcanvas *ngSwitchCase="1"></app-canvas>
        <app-canvas-beginning-analysis *ngSwitchCase="2"></app-canvas-beginning-analysis>
        <app-canvas-tetrahedron *ngSwitchCase="3"></app-canvas-tetrahedron>
        <app-canvas-cube *ngSwitchCase="4"></app-canvas-cube>
        <label *ngSwitchDefault> </label>
    </div>
</div>