<!--<div>
  <ul>
    <li *ngFor="let item of items;let i = index;"[ngClass]="{item:item}">
	<button (click)="myEvent($event, i);">{{item}}</button>
	<div *ngIf="">Content of {{i}}</div>
	</li>
  </ul>
</div>-->

<section class="ac-container">
    <div>
        <input class="ac-checkbox" id="ac-1" name="accordion-1" type="checkbox" checked />
        <label class="ac-label" for="ac-1">Тригонометрия</label>
        <article class="ac-list">
        	<div>
            	<input type="checkbox">Sin<Br>
            	<input type="checkbox">Cos<Br>
            	<input type="checkbox">Tan<Br>
            	<input type="checkbox">Ctan<Br>
            </div>
        </article>
    </div>
    <div>
        <input class="ac-checkbox" id="ac-2" name="accordion-1" type="checkbox" />
        <label class="ac-label"for="ac-2">Teмa 2</label>
        <article>
            <p></p>
        </article>
    </div>
    <div>
        <input class="ac-checkbox" id="ac-3" name="accordion-1" type="checkbox" />
        <label class="ac-label" for="ac-3">Тема 3</label>
        <article>
            <p></p>
        </article>
    </div>
    <div>
        <input class="ac-checkbox" id="ac-4" name="accordion-1" type="checkbox" />
        <label class="ac-label" for="ac-4">Тема 4</label>
        <article>
            <p></p>
        </article>
    </div>
</section>	