#canvas {
    width: 700px;
    height: 550px;
}

#help {
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    position: relative;
    z-index: 20;
    width: 700;
}